:root {
  --smaller-font: 0.9rem;
  --normal-font: 1rem;
  --larger-font: 1.2rem;
  --small-padding: 1rem;
  --large-padding: 2rem;
  --gap-size: 1rem;
  --border-radius: 5px;
  --pink: rgb(231, 204, 204);
  --dark-pink: rgb(221, 177, 177);
  --light-red: rgb(167, 80, 80);
  --dark-red: rgb(139, 0, 0);
  --light-gray: rgb(238, 238, 238);
  --gray: rgb(128, 128, 128);
  --beige: rgb(219, 211, 194);
  --dark-beige: rgb(133, 111, 86);
  --green: rgb(183, 201, 180);
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center;
}

/* Styles the heading and scoreboard */
.heading {
  background: rgba(243, 206, 190, 0.8);
  border-radius: 10px;
  margin: var(--small-padding);
  padding: var(--large-padding);
  font-size: var(--normal-font);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  gap: var(--gap-size);
}

.largeFont {
  color: rgb(139, 0, 0);
  text-transform: uppercase;
  font-size: var(--larger-font);
  font-weight: 600;
  margin: 0;
  grid-row: 1;
  grid-column: 1 / span 3;
}

.intro {
  grid-column: 1 / span 2;
  text-align: left;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Styles the card container and cards */
.cardsContainer {
  padding: var(--small-padding);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  background: rgba(223, 196, 153, 0.75);
  border-radius: var(--border-radius);
  padding-bottom: 0.5rem;
  transition: 0.5s transform;
}

.card:hover {
  background: rgba(199, 176, 138, 0.9);
  transform: scale(1.1);
}

.card > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: var(--border-radius);
}

.characterName {
  margin: 0;
  min-height: 30px;
  font-size: var(--smaller-font);
  line-height: 1rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles the game over popup */
.gameOverPopup {
  background: rgba(255, 248, 247, 0.9);
  border: 2px solid var(--light-red);
  border-radius: 10px;
  box-shadow: 4px 4px var(--dark-red);
  padding: var(--large-padding);

  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.failure {
  font-weight: 600;
  font-size: var(--larger-font);
  color: var(--dark-red);
}

.restart {
  background: var(--pink);
  border: 1px solid var(--dark-red);
  margin-top: 1rem;
}

.restart:hover {
  text-transform: uppercase;
  background: var(--dark-pink);
  border: 1px solid var(--dark-red);
}

.overlay {
  background: rgba(224, 224, 224, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}