#root {
  max-width: 100vw;
  text-align: center;
}

.cardsContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  padding: 0.5rem;
  background: rgb(238, 238, 238);
  border: 1px solid gray;
  border-radius: 5px;
}

.card > img {
  height: 100px;
  width: 90px;
  object-fit: cover;
  border-radius: 5px;
}

.characterName {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
}