/* Styles the heading and scoreboard */
.heading {
    background: rgba(243, 206, 190, 0.8);
    border-radius: 10px;
    margin: var(--normal-padding);
    padding: var(--large-padding);
    font-size: var(--normal-font);
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: var(--gap-size);
  }
  
  .largeFont {
    color: rgb(139, 0, 0);
    text-transform: uppercase;
    font-size: var(--larger-font);
    font-weight: 600;
    margin: 0;
    grid-row: 1;
    grid-column: 1 / span 3;
  }
  
  .intro {
    grid-column: 1 / span 2;
    text-align: left;
  }
  
  .scoreboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }