/* Styles the heading and scoreboard */
.heading {
  background: rgba(243, 206, 190, 0.8);
  border-radius: 10px;
  margin: var(--normal-padding);
  padding: var(--large-padding);
  font-size: var(--normal-font);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  gap: var(--gap-size);
}

.heading > * {
  color: var(--brown);
}
  
.largeFont {
  color: var(--dark-red);
  text-transform: uppercase;
  font-size: var(--larger-font);
  font-weight: 600;
  margin: 0;
  grid-row: 1;
  grid-column: 1 / span 3;
}

.intro {
  grid-column: 1 / span 2;
  text-align: left;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
  .heading {
    background: var(--dark-mode-black);
  }

  .heading > * {
    color: var(--dark-mode-off-white);
  }

  .largeFont {
    color: var(--light-red);
  }

  .currentScore,
  .highestScore {
    color: var(--dark-pink);
  }
}